* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}
/* ...nav */
.nav {
  width: 100%;
  height: 10vh;
  position: fixed;
  z-index: 10;
  background-image: linear-gradient(rgba(0, 0, 0, 0.568));
}
.nav .nav-container {
  width: 85%;
  margin: auto;
}
.nav-container .list li {
  display: inline-block;
  padding: 20px 70px;
  color: white;
}
.nav-container .list ul {
  text-align: center;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* .....header...... */
.header {
  width: 100%;
  height: 100vh;
  background-image: url(image/photo_1_2024-07-02_21-07-51.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.header-shadow {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    black
  );
}
.header-title {
  text-align: center;
  color: white;
  position: relative;
  top: 180px;
}
.great {
  font-size: 50px;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}
.wander {
  font-size: 15px;
  padding: 10px 0;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.play {
  text-align: center;
  margin-top: 220px;
}
/* ....section-first.. */
.section-first {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;
}
.section-first-text {
  text-align: center;
  color: white;
  position: relative;
  top: 10px;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.section-first-title {
  font-size: 30px;
}
.section-first-paragraph {
  width: 450px;
  margin: auto;
  margin-top: 15px;
}
.section-first-image {
  text-align: center;
}
.section-first-image-box1 {
  width: 250px;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(image/photo_2_2024-07-02_21-07-40.jpg);
  display: inline-block;
  margin-top: 70px;
}
.section-first-image-box1-title {
  font-size: 20px;
  text-align: center;
  padding-top: 230px;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}
.section-first-image-box1-paragraph {
  text-align: center;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.section-first-image-box2 {
  width: 250px;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(image/photo_5_2024-07-02_21-07-40.jpg);
  display: inline-block;
  margin: 0 10px;
}
.section-first-image-box2-title {
  font-size: 20px;
  text-align: center;
  padding-top: 230px;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}
.section-first-image-box2-paragraph {
  text-align: center;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.section-first-image-box3 {
  width: 250px;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(image/photo_3_2024-07-02_21-07-40.jpg);
  display: inline-block;
}
.section-first-image-box3-title {
  font-size: 20px;
  text-align: center;
  padding-top: 230px;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}
.section-first-image-box3-paragraph {
  text-align: center;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* ....section-second...... */
.section-second {
  width: 100%;
  height: 100vh;
  background-color: black;
}
.section-second-head {
  margin-bottom: 50px;
  text-align: center;
}
.section-second-title {
  color: white;
  padding-top: 30px;
  font-size: 20px;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.section-second-paragraph {
  color: white;
  width: 40%;
  margin-top: 20px;
  margin: auto;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.section-second-image-part1 {
  display: inline-block;
  width: 49%;
  text-align: center;
}
.section-second-image-box1 {
  width: 50%;
  height: 200px;
  background-image: url(image/photo_1_2024-07-02_21-08-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}
.section-second-image-box1-text {
  color: white;
  padding: 10px 0;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.section-second-image-box1-title {
  color: white;
  padding: 15px 0;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}
.section-second-image-box1-paragraph {
  color: white;
  width: 40%;
  margin: auto;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.section-second-image-part2 {
  display: inline-block;
  width: 49%;
  text-align: center;
}
.section-second-image-box2 {
  width: 50%;
  height: 200px;
  background-image: url(image/photo_3_2024-07-02_21-08-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}
.section-second-image-box2-text {
  color: white;
  padding: 10px 0;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.section-second-image-box2-title {
  color: white;
  padding: 15px 0;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}
.section-second-image-box2-paragraph {
  color: white;
  width: 40%;
  margin: auto;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.section-third {
  width: 100%;
  height: 100vh;
  background-image: url(image/photo_2_2024-07-02_21-07-51.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-third-shadow {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(black, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
