* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}
/* ...nav */
.nav {
  width: 100%;
  position: fixed;
}
.nav .nav-container {
  width: 85%;
  margin: auto;
}
.nav-container div {
  display: inline-block;
}
/* ......section-first.... */
.section-first {
  width: 100%;
  height: 100vh;
  background-image: url(image/photo_1_2024-07-02_21-07-51.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
